<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<main class="container">

    <a href="/moji-oglasi" class="btn btn-primary mt-3">Povratak</a>

    <form action="" method="get" class="mt-3">
        <!-- Drzava select element -->
        <div class="mt-3">
            <label for="drzava" class="form-label">Drzava</label>
            <select class="form-select" id="drzava" name="odabranaDrzavaOznaka" required onchange="this.form.submit()">
                <option th:each="drzava : ${drzave}"
                        th:value="${drzava.getOznaka()}"
                        th:text="${drzava.getNaziv()}"
                        th:selected="${drzava.getOznaka()} == ${odabranaDrzavaOznaka}"
                >
                </option>
            </select>
        </div>
    </form>

    <form action="" method="post" class="mt-3">

        <input type="hidden" name="drzava"
               th:value="${odabranaDrzavaOznaka} ? ${odabranaDrzavaOznaka} : ${oglas.getMjesto().getDrzava().getOznaka()}"/>
        <input type="hidden" name="oglasId" th:value="${oglas.getId()}"/>

        <!-- Mjesto select element -->
        <div class="mb-3">
            <label for="mjesto" class="form-label">Mjesto</label>
            <select class="form-select" id="mjesto" name="mjesto" required>
                <option th:each="mjesto : ${mjesta}"
                        th:value="${mjesto.getId()}"
                        th:text="${mjesto.getNaziv()}"
                        th:selected="${mjesto.getId()} == ${oglas.getMjesto().getId()}"
                >
                </option>
            </select>
        </div>

        <!-- Naziv input field -->
        <div class="mb-3">
            <label for="naziv" class="form-label">Naziv</label>
            <input type="text" class="form-control" id="naziv" name="naziv" th:value="${oglas.getNaziv()}" required>
        </div>

        <!-- Opis input field -->
        <div class="mb-3">
            <label for="opis" class="form-label">Opis</label>
            <textarea class="form-control" id="opis" name="opis" rows="3" th:text="${oglas.getOpis()}"
                      required></textarea>
        </div>

        <!-- PocetnaCijena input field -->
        <div class="input-group mb-3">
            <div class="me-3">
                <label for="pocetnaCijena" class="form-label">Pocetna Cijena</label>
                <input type="number" class="form-control" id="pocetnaCijena" name="pocetnaCijena"
                       th:value="${oglas.getPocetnaCijena()}" required>
            </div>
        </div>

        <div class="input-group mb-5">
            <!-- PocetnoVrijeme input field -->
            <div>
                <label for="pocetnoVrijeme" class="form-label">Pocetno Vrijeme</label>
                <input type="datetime-local" class="form-control" id="pocetnoVrijeme" name="pocetnoVrijeme"
                       th:value="${oglas.getPocetnoVrijeme()}" required>
            </div>

            <!-- ZavrsnoVrijeme input field -->
            <div class="ms-3">
                <label for="zavrsnoVrijeme" class="form-label">Zavrsno Vrijeme</label>
                <input type="datetime-local" class="form-control" id="zavrsnoVrijeme" name="zavrsnoVrijeme"
                       th:value="${oglas.getZavrsnoVrijeme()}" required>
            </div>
        </div>

        <input type="submit" value="Spremi" class="btn btn-primary"/>
        <input type="submit" value="Obrisi" class="btn btn-danger"/>

        <hr/>
        <!-- Kategorije -->
        <h2>Kategorije</h2>
        <br/>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Naziv</th>
                    <th class="w-25">Akcije</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="oglasKategorija, index : ${oglasKategorije}">
                    <tr th:id="'kategorijaRedak' + ${index.index}">
                        <td th:text="${oglasKategorija.getId()}"></td>
                        <td>
                            <select class="form-select" th:id="'kategorijaSelect' + ${index.index}" name="kategorija"
                                    disabled="disabled" required>
                                <option th:each="kategorija : ${kategorije}"
                                        th:value="${kategorija.getId()}"
                                        th:text="${kategorija.getNaziv()}"
                                        th:selected="${kategorija.getId()} == ${oglasKategorija.getId()}"
                                >
                                </option>
                            </select>
                        </td>
                        <td class="text-center">
                            <!-- Edit Button Form -->
                            <form action="" method="post"
                                  style="display:inline-block;">
                                <button type="submit" class="btn btn-primary">Uredi</button>
                            </form>
                            <!-- Delete Button Form -->
                            <button type="button" class="btn btn-danger"
                                    th:onclick="'deleteKategorija(' + ${oglas.getId()} + ', ' + ${oglasKategorija.getId()} + ')'">
                                Obrisi
                            </button>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </form>
    <br/>
    <div class="input-group">
        <select class="form-select" id="dodajKategorijuSelect">
            <option th:each="kategorija : ${kategorije}"
                    th:value="${kategorija.getId()}"
                    th:text="${kategorija.getNaziv()}"
            >
            </option>
        </select>
        <button type="button" class="btn btn-primary"
                th:onclick="'addKategorija(' + ${oglas.getId()} + ')'">
            Dodaj kategoriju
        </button>
    </div>
    <div id="addKategorijaError" style="display: none">
        <p class="text-danger">Već postoji ta kategorija!</p>
    </div>
</main>
<script th:inline="javascript">
    function deleteKategorija(oglasId, kategorijaId) {
        const url = '/pripadaKategoriji/delete';
        const formData = new FormData();
        formData.append("oglasId", oglasId);
        formData.append("kategorijaId", kategorijaId);

        fetch(url, {
            method: 'POST',
            body: formData,
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(data => {
                window.location.reload();
            })
            .catch(error => {
                console.error('There was an error!', error);
            });
    }

    function addKategorija(oglasId) {
        const url = '/pripadaKategoriji/add';
        const kategorijaId = document.getElementById("dodajKategorijuSelect").value;
        const formData = new FormData();
        formData.append("oglasId", oglasId);
        formData.append("kategorijaId", kategorijaId);

        fetch(url, {
            method: 'POST',
            body: formData,
        })
            .then(response => {
                if (!response.ok) {
                    document.getElementById("addKategorijaError").style.display = "block";
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(data => {
                window.location.reload();
            })
            .catch(error => {
                console.error('There was an error!', error);
            });
    }
</script>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>
