<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:replace="fragments :: header"></header>
<main class="container">

    <div class="container mt-5">
        <h2>Moji oglasi</h2>
        <br/>
        <div>
            <form class="form-inline" method="get" action="">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="searchInput" placeholder="Traži po nazivu"
                           name="searchNaziv" th:value="${searchNaziv}">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Search</button>
                        <button type="button" class="btn btn-secondary"
                                onclick="document.getElementById('searchInput').value='';this.form.submit()">Clear
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <br/>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Naziv</th>
                    <th>Trenutna ponuda</th>
                    <th>Preostalo vrijeme</th>
                    <th class="w-25">Akcije</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="oglas, i : ${oglasi}">
                    <td th:text="${oglas.getId()}"></td>
                    <td th:text="${oglas.getNaziv()}"></td>
                    <td th:text="${oglas.getPocetnaCijena()}"></td>
                    <td th:text="${hoursLeftList[i.index]} + 'h'"></td>
                    <td class="text-center">
                        <a class="btn btn-primary" th:href="'/oglas/' + ${oglas.getId()}">Idi na oglas</a>
                        <a class="btn btn-secondary" th:href="'/oglas/' + ${oglas.getId()} + '/uredi'">Uredi</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <br/>
        <a class="btn btn-primary" href="/oglas/stvori">Stvori novi oglas</a>
    </div>
</main>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>
