<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<main class="container">

    <form action="/oglas/stvori" method="get" class="mt-3">
        <!-- Drzava select element -->
        <div class="mt-3">
            <label for="drzava" class="form-label">Drzava</label>
            <select class="form-select" id="drzava" name="odabranaDrzavaOznaka" required onchange="this.form.submit()">
                <!-- Populate select options with data from your database -->
                <option th:each="drzava : ${drzave}"
                        th:value="${drzava.getOznaka()}"
                        th:text="${drzava.getNaziv()}"
                        th:selected="${drzava.getOznaka()} == ${odabranaDrzavaOznaka}"
                >
                </option>
            </select>
        </div>
    </form>

    <form action="/oglas/stvori" method="post" class="mt-3" th:if="${odabranaDrzavaOznaka}">

        <input type="hidden" name="drzava" th:value="${odabranaDrzavaOznaka}" />

        <!-- Mjesto select element -->
        <div class="mb-3">
            <label for="mjesto" class="form-label">Mjesto</label>
            <select class="form-select" id="mjesto" name="mjesto" required>
                <!-- Populate select options with data from your database -->
                <option th:each="mjesto : ${mjesta}"
                        th:value="${mjesto.getId()}"
                        th:text="${mjesto.getNaziv()}"
                >
                </option>
            </select>
        </div>

        <!-- Naziv input field -->
        <div class="mb-3">
            <label for="naziv" class="form-label">Naziv</label>
            <input type="text" class="form-control" id="naziv" name="naziv" required>
        </div>

        <!-- Opis input field -->
        <div class="mb-3">
            <label for="opis" class="form-label">Opis</label>
            <textarea class="form-control" id="opis" name="opis" rows="3" required></textarea>
        </div>

        <!-- PocetnaCijena input field -->
        <div class="mb-3">
            <label for="pocetnaCijena" class="form-label">Pocetna Cijena</label>
            <input type="number" class="form-control" id="pocetnaCijena" name="pocetnaCijena" required>
        </div>

        <!-- PocetnoVrijeme input field -->
        <div class="mb-3">
            <label for="pocetnoVrijeme" class="form-label">Pocetno Vrijeme</label>
            <input type="datetime-local" class="form-control" id="pocetnoVrijeme" name="pocetnoVrijeme" required>
        </div>

        <!-- ZavrsnoVrijeme input field -->
        <div class="mb-3">
            <label for="zavrsnoVrijeme" class="form-label">Zavrsno Vrijeme</label>
            <input type="datetime-local" class="form-control" id="zavrsnoVrijeme" name="zavrsnoVrijeme" required>
        </div>

        <!-- Kategorije-->
        <div class="mb-3">
            Kategorije TODO
        </div>

        <button type="submit" class="btn btn-primary">Stvori novi oglas</button>
    </form>

    <a href="/moji-oglasi" class="btn btn-secondary mt-3">Povratak</a>

</main>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>
